 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');

 body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
 }

 .bold {
    font-weight: 700;
 }

 .regular {
    font-weight: 400;
 }

 .color-primary {
    color: $color-primary;
 }

 .uppercase {
    text-transform: uppercase;
 }